.wrapper {
    max-width: 1400px;
    display: flex;  
    flex-flow: row;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    align-items: flex-end;
    position:relative;
    bottom:0;
    min-height: 65vh;
  }
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .headerData {
    background: #D8B08C;
    
  }
  
 